<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>社团中心 - 注册</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="/static/css/demo.css" />
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
  
    <script type="text/javascript" src="/static/js/modernizr.custom.86080.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript", src="/static/js/register.js"></script>
{#    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=QPc3FT3gIgKDCGrZYQXXCLjWLiUWHZHC"></script>#}
{##}
{#    <script>#}
{#        var map = new BMap.Map("allmap");#}
{#        var point = new BMap.Point(116.331398,39.897445);#}
{#        map.centerAndZoom(point,12);#}
{##}
{#        var geolocation = new BMap.Geolocation();#}
{#        geolocation.getCurrentPosition(function(r){#}
{#            if(this.getStatus() == BMAP_STATUS_SUCCESS){#}
{#                var mk = new BMap.Marker(r.point);#}
{#                map.addOverlay(mk);#}
{#                map.panTo(r.point);#}
{#                alert('您的位置：'+r.point.lng+','+r.point.lat);#}
{#            }#}
{#            else {#}
{#                alert('failed'+this.getStatus());#}
{#            }#}
{#        });#}
{##}
{#        var map = new BMap.Map("allmap");#}
{#        var point = new BMap.Point(116.331398,39.897445);#}
{#        map.centerAndZoom(point,12);#}
{#        #}
{#        function myFun(result){#}
{#            var cityName = result.name;#}
{#            map.setCenter(cityName);#}
{#            alert("当前定位城市:"+cityName);#}
{#        }#}
{#        var myCity = new BMap.LocalCity();#}
{#        myCity.get(myFun);#}
{##}
{#    </script>#}
    </head>

	<body>

			<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
					<header class="mb-5"><h1>Letter</h1></header>
					<P class="mb-5">A sign-up letter template with three background images shuffling by fade in out movements. Thank you for visiting our site!</P>

                    <form method="post" class="subscribe-form">
                        {% csrf_token %}
               	    	<div class="row form-section">

							<div class="col-md-7 col-sm-7 col-xs-7">
			                    <input name="stu_name" type="text" class="form-control" id="stu_name" placeholder="Your Name..." required/>
                                {{ form.errors.stu_name }}
                                <br>
				  			</div>

							<div class="col-md-7 col-sm-7 col-xs-7">
			                    <input name="password" type="password" class="form-control" id="password" placeholder="Password..." required/>
                                {{ form.errors.password }}
                                <br>
				  			</div>

							<div class="col-md-7 col-sm-7 col-xs-7">
			                    <input name="repassword" type="password" class="form-control" id="repassword" placeholder="Verify Password..." required/>
                                {{ form.errors.repassword }}
                                <br>
				  			</div>

							<div class="col-md-7 col-sm-7 col-xs-7">
			                    <input name="stu_tel" type="text" class="form-control" id="stu_tel" placeholder="Mobile..." required/>
                                {{ form.errors.stu_tel }}
                                <br>
				  			</div>

                            <div class="col-md-3 col-sm-3 col-xs-3">
{#								<button class="form-control">Subscribe</button>#}
							</div>


							<div class="col-md-4 col-sm-4 col-xs-4">
			                    <input name="vercode" type="text" class="form-control" id="vercode" placeholder="Verify Code..." required/>
                                {{ form.errors.vercode }}
                                <br>
				  			</div>

                            <div class="col-md-3 col-sm-3 col-xs-3">
								<button class="form-control" id="verbtn" onclick="get_vercode()">获取验证码</button>
							</div>

							<div class="col-md-7 col-sm-7 col-xs-7">
                                <input name="submit" type="submit" class="form-control" id="submit" value="Sign in" required/>
                                <br>
				  			</div>

                            <div class="col-md-4 col-sm-4 col-xs-4">
{#								<button class="form-control">Subscribe</button>#}
							</div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
{#								<button class="form-control">Subscribe</button>#}
							</div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
								已有账号? 去<a href="/station/login">登录</a>
							</div>

						</div>
                    </form>

					<div class="tm-social-icons-container text-xs-center">
	                    <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
	                    <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
	                    <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
	                    <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
	                </div>

					</div>
				</div>	

			</div>

	</body>
	<script type="text/javascript" src="/static/js/particles.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>

</html>