
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>個人中心</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <style type="text/css">
        .vertical-center
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="panel panel-warning">
        <div class="panel-heading " style="background: #d9534f; color: #ffffff">
            <span class="glyphicon glyphicon-th-large" style="margin-right: 10px" />个人中心
        </div>
        <div class="panel-heading   ">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div>
                        <span>帳號:
                            <label>
                                K1311P99
                            </label>
                        </span>
                    </div>
                    <div>
                        <span>帳號:
                            <label>
                                楊清杰
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="container">
                        <div class="row bg-success" >
                            <div class="vertical-center" style="margin-top:15px">
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-stacked   nav-divider">
            <br>
            <li class="bg-warning"><a href="#"><span class="glyphicon glyphicon-star" style="margin-right: 10px">
            </span>當前等級</a><span class="glyphicon glyphicon-chevron-right" style="float: right;
                margin-right: 5px; margin-top: -30px; color: #FFF"></span></li>
            <li class="bg-warning"><a href="#"><span class="glyphicon glyphicon-yen" style="margin-right: 10px">
            </span>當前积分</a><span class="glyphicon glyphicon-chevron-right" style="float: right;
                margin-right: 5px; margin-top: -30px; color: #FFF"></span></li>
            <li class="bg-warning"><a href="#"><span class="glyphicon glyphicon-calendar" style="margin-right: 10px">
            </span>注冊時間</a><span class="glyphicon glyphicon-chevron-right" style="float: right;
                margin-right: 5px; margin-top: -30px; color: #FFF"></span></li>
            <li class="bg-warning"><a href="#"><span class="glyphicon glyphicon-open" style="margin-right: 10px">
            </span>我的上級</a><span class="glyphicon glyphicon-chevron-right" style="float: right;
                margin-right: 5px; margin-top: -30px; color: #FFF"></span></li>
            <li class="bg-warning"><a href="#"><span class="glyphicon glyphicon-save" style="margin-right: 10px">
            </span>我的下級</a><span class="glyphicon glyphicon-chevron-right" style="float: right;
                margin-right: 5px; margin-top: -30px; color: #FFF"></span></li>
            <li class="bg-warning"><a href="#"><span class="glyphicon glyphicon-globe" style="margin-right: 10px">
            </span>我的團隊</a><span class="glyphicon glyphicon-chevron-right" style="float: right;
                margin-right: 5px; margin-top: -30px; color: #FFF"></span></li>
        </ul>
    </div>
    <div class="text-center" style="background: #FFF">
        <a href="user.html?action=upgrade">
            <button type="button" class="btn btn-success   " style="width:40%">
                <span class="glyphicon glyphicon-arrow-up" style="margin-right: 10px" />我要升級</button>
        </a><a href="index.php">
            <button type="button" class="btn btn-success" style="width:40%">
                <span class="glyphicon glyphicon-home" style="margin-right: 10px" />返回首頁</button>
        </a>
    </div>
    <p>
        </div>
</body>